form.main-search.navbar-form
{
    width:80%;
}
form.main-search.navbar-form .form-group
{
    width:85%;
}
form.main-search div.form-group input
{
    width:100%;
}
div .container h1
{
    text-align:center;
    font-size:30px;
}
div .container p
{
    font-size:18px;
}
a.mainImg
{
    text-align:center;
    display:block;
    width:250px;
    height:250px;
    margin:10px auto;
}
    a.mainImg img
    {
        text-align:center;
    }

p.actionBtn
{
    text-align:left;
}
div.relatedProducts ul
{
    list-style:none;
    padding:0;
}
table.table a
{
    color:#000;
}

